<tr id="lesson-{{ lesson.id }}">
    <td>{{ lesson.student }}</td>
    <td>{{ lesson.teacher }}</td>
    <td>{{ lesson.date }}</td>
    <td>{{ lesson.start_time }}</td>
    <td>{{ lesson.duration }} ч</td>
    <td>{{ lesson.conducted|yesno:"✔,✖" }}</td>
    <td>
        <div class="btn-group" role="group">
            <button hx-get="{% url 'edit_lesson' lesson.id %}"
                    hx-target="#lesson-{{ lesson.id }}"
                    hx-swap="outerHTML"
                    class="btn btn-success btn-sm">
                <i class="bi bi-pencil"></i>
            </button>
            <button hx-delete="{% url 'delete_lesson' lesson.id %}"
                    hx-target="#schedule-list"
                    hx-confirm="Are you sure?"
                    class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </td>
</tr>
